:{$PORT} {
	handle_path /api/* {
		reverse_proxy {
		dynamic a {
			name {$BACKEND_DOMAIN}
			port {$BACKEND_PORT}
			refresh 1s
			dial_timeout 30s
			versions ipv4 ipv6
		}
	}

	handle_path /uploads/* {
		root * /uploads/
		file_server
	}

	handle {
		reverse_proxy 
		dynamic a {
			name {$FRONTEND_DOMAIN}
			port {$FRONTEND_PORT}
			refresh 1s
			dial_timeout 30s
			versions ipv4 ipv6
		}
	}
}
